default_install_hook_types: [commit-msg, pre-commit, pre-push]
default_stages: [pre-commit]

repos:
  ### ? COMMIT-MSG  ###
  - repo: https://github.com/commitizen-tools/commitizen
    rev: v4.12.1
    hooks:
      - id: commitizen

  ### ? GENERAL  ###
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-toml
      - id: check-xml
        exclude: drawio
      - id: check-json
        exclude: Code|micro
      - id: pretty-format-json
        args: [--autofix, --no-ensure-ascii, --no-sort-keys]
        exclude: Application Support|obsidian|micro
      - id: check-added-large-files
        args: [--maxkb=10240]
      - id: check-executables-have-shebangs
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-symlinks
      - id: destroyed-symlinks
      - id: end-of-file-fixer
        exclude: lock|Application Support|obsidian
      - id: trailing-whitespace

  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.30.0
    hooks:
      - id: gitleaks

  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: 3.6.0
    hooks:
      - id: editorconfig-checker
        alias: ec
        exclude: Library|obsidian

  - repo: https://github.com/executablebooks/mdformat
    rev: 1.0.0
    hooks:
      - id: mdformat
        additional_dependencies: [mdformat-gfm, mdformat-shfmt]

  ### ? YAML  ###
  - repo: https://github.com/adrienverge/yamllint.git
    rev: v1.38.0
    hooks:
      - id: yamllint
        args: [--format, parsable, --strict, -d, '{extends: relaxed, rules: {line-length: {max: 120}}}']
        exclude: templates|gh

  - repo: https://github.com/lyz-code/yamlfix
    rev: 1.19.1
    hooks:
      - id: yamlfix
        args: [-c, .yamlfix.toml]
        exclude: templates|Chart.yaml|lock

  ### ? SHELL  ###
  - repo: https://github.com/shellcheck-py/shellcheck-py
    rev: v0.11.0.1
    hooks:
      - id: shellcheck
        args: [-a, --format, gcc, -x]

  - repo: https://github.com/scop/pre-commit-shfmt
    # TODO: https://github.com/scop/pre-commit-shfmt/issues/39
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        exclude_types: []

    ### ? DOCKER  ###
  - repo: https://github.com/AleksaC/hadolint-py
    rev: v2.14.0
    hooks:
      - id: hadolint
        args: [--failure-threshold, style]
