encryption = "age"

[age]
identity = "~/.config/chezmoi/key.txt"
recipient = "age1eetnalmalg72fpckqnd37drcnwenlm9t3ud2ceku64u50f6dxc2qejghz4"

[hooks.read-source-state.pre]
    command = ".local/share/chezmoi/decrypt-private-key.sh"

[diff]
pager = "delta"

[merge]
command = "bash"
args = [
    "-c",
    'cp "$1" "$2" && code --new-window --wait --merge "$3" "$1" "$2" "$4"',
    "bash",
    {{ printf "%q" "{{ .Target }}" }},
    {{ printf "%q" "{{ .Target }}.base" }},
    {{ printf "%q" "{{ .Destination }}" }},
    {{ printf "%q" "{{ .Source }}" }},
]
