"$schema" = "https://starship.rs/config-schema.json"

# TODO: remove all `via` prefixes: https://github.com/starship/starship/issues/6313

add_newline = false
# container section breaks prompt formatting
right_format = """$kubernetes$hostname$username$cmd_duration"""

### ? LEFT PROMPT ###

[character]
disabled = true

[directory]
fish_style_pwd_dir_length = 2

[docker_context]
disabled = true

[git_branch]
# removed 'on'
format = "[$symbol$branch(:$remote_branch)]($style) "

[git_commit]
tag_disabled = false

[git_status]
# removed '[]'
format = "([$all_status$ahead_behind]($style) )"
style = "yellow"

conflicted = "=${count}"
ahead = "⇡${count}"
behind = "⇣${count}"
diverged = "⇕⇡${ahead_count}⇣${behind_count}"
untracked = "?${count}"
stashed = "\\$${count}"
modified = "!${count}"
staged = "+${count}"
renamed = "»${count}"
deleted = "✘${count}"

[helm]
disabled = true

[line_break]
disabled = true

[package]
disabled = true

[pixi]
# removed 'via' and version
format = "[$symbol(\\($environment\\) ) ]($style)"
detect_files = []

[python]
# removed 'via' and version
format = "[${symbol}${pyenv_prefix}(\\($virtualenv\\) )]($style)"
detect_extensions = []
detect_files = []

[nix_shell]
# removed 'via' and state
format = "[$symbol(\\($name\\))]($style) "

### ? RIGHT PROMPT ###

[kubernetes]
# removed 'in'
format = "[$symbol$context( \\($namespace\\))]($style)"
# TODO: enable dynamically: https://github.com/starship/starship/issues/840
disabled = false

[hostname]
# removed 'in'
format = " [$ssh_symbol$hostname]($style)"
trim_at = ""

[username]
# removed 'in'
format = " [$user]($style)"
aliases = { "mukhametshin" = "" }

[cmd_duration]
# removed 'took'
format = " [$duration]($style)"
