<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.env</string>
    <key>ProgramArguments</key>
    <array>
      <string>launchctl</string>
      <string>setenv</string>

      <string>XDG_CONFIG_HOME</string>
      <string>/Users/rusmux/.config</string>

      <string>XDG_CACHE_HOME</string>
      <string>/Users/rusmux/.cache</string>

      <string>XDG_DATA_HOME</string>
      <string>/Users/rusmux/.local/share</string>

      <string>XDG_STATE_HOME</string>
      <string>/Users/rusmux/.local/state</string>

      <string>HOMEBREW_NO_ANALYTICS</string>
      <string>1</string>

      <string>HOMEBREW_NO_ENV_HINTS</string>
      <string>1</string>
    </array>
    <key>RunAtLoad</key>
    <true />
  </dict>
</plist>
